
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
        --primary-color:rgb(53, 145, 231);
}


body {
        background: #f2f2f2;
        margin: 0;
        font-family: 'Poppins';
}

.navbar {
        background-color: white;
        padding: 1em;
}


nav {
        display: none;
}

.container {
        display: flex;
        place-content: space-between;
}

.mobile-menu {
        cursor: pointer;
}


a {
        color: #444444;
}



.logo {
        text-decoration: none;
        font-weight: bold;
        color: rgb(43, 30, 30);
        font-size: 1.2em;

        
}
span {
        color: var(--primary-color);
}
